/*
=====================================================================================================
COLOR
=====================================================================================================
*/
.background-black {
	background: #000;
}

.textcolor-white {
	color: #FFF;
}

.textcolor-black {
	color: #000;
}

.textcolor-skyblue {
	color: #def0fd;
}

.background-skyblue {
	background: #def0fd;
}

.textcolor-blue {
	color: #a1bbdf;
}

.background-blue {
	background: #a1bbdf;
}

.textcolor-darkblue {
	color: #001966;
}

.background-darkblue {
	background: #001966;
}

body:not(.no-scrolling) {
	pointer-events: none !important;
} 

/*
=====================================================================================================
FRAME 2
=====================================================================================================
*/
.cssvhunit #FRAME2 {
	background-image: url("../imgs/FRAME1_LOW.jpg");
}

.cssvhunit #FRAME2.active {
	transition: background-image 0.5s;
	background-image: url("../imgs/FRAME1.jpg");
}

.cssvhunit.rgba #FRAME2 .layer {
	background: rgba(222, 240, 253, 0.4);
}

#FRAME2 .blocs-inside-title-line {
    background: #91c6ff;
    width: 250px;
    left: 200px;
}

#FRAME2 .area-texte-line {
	background: #001966;
}

#FRAME2 .area-texte-title,
#FRAME2 .area-texte-subtitle,
#FRAME2 .blocs-inside-informations-title,
#FRAME2 .blocs-inside-informations-texte,
#FRAME2 .blocs-inside-informations-texte strong {
	color: #001966;
}

#FRAME2 .photo-square,
#FRAME2 .blocs-inside-informations-left-page:hover,
#FRAME2 .blocs-inside-informations-right-page:hover,
#FRAME2 .date-line {
	background: #91C6FF;
}

#FRAME2 .blocs-inside-informations-left-page span, 
#FRAME2 .blocs-inside-informations-right-page span,
#FRAME2 .blocs-inside-informations-page span,
#FRAME2 .letter-l, 
#FRAME2 .letter-j,
#FRAME2 .facebook,
#FRAME2 .twitter {
	color: #91C6FF;
}

#FRAME2 .blocs-inside-informations-left-page:hover span,
#FRAME2 .blocs-inside-informations-right-page:hover span {
	color: white;
}

#FRAME2 .date {
	color: #a1bbdf;
}

/*
=====================================================================================================
FRAME 3
=====================================================================================================
*/

.cssvhunit #FRAME3 {
	position: relative;
	
	height: 100vh;
	min-height: 800px;
	width: 100%;
	
	background-image: url("../imgs/FRAME2_LOW.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.cssvhunit #FRAME3.active {	
    transition: background-image 0.5s;
	background-image: url("../imgs/FRAME2.jpg");
}

/*
=====================================================================================================
FRAME 4
=====================================================================================================
*/

#FRAME3 .big-title-blue,
#FRAME4 .big-title-blue {
    color: rgba(102, 26, 0, 0.3);
}

.cssvhunit.rgba #FRAME4 .bloc-informations {
	background: rgba(102, 26, 0, 0.3);
}


#FRAME4 .blocs-inside-neartitle {
	background: rgba(102, 26, 0);
}

.cssvhunit #FRAME4 {
	background-image: url("../imgs/FRAME2_LOW.jpg");
}

.cssvhunit #FRAME4.active {
	transition: background-image 0.5s;
	background-image: url("../imgs/FRAME2.jpg");
}

.cssvhunit.rgba #FRAME4 .layer {
	background: rgba(102, 26, 0, 0.4);
}

#FRAME4 .blocs-inside-title-line {
    background: #FF7373;
    width: 250px;
    left: 200px;
}

#FRAME4 .area-texte-line {
	background: #FF7373;
}
#FRAME4 .blocs-inside-informations-texte {
	color: black;
}

#FRAME4 .area-texte-title,
#FRAME4 .area-texte-subtitle,
#FRAME4 .blocs-inside-informations-title,
#FRAME4 .blocs-inside-informations-texte strong {
	color: #FF7373;
}

#FRAME4 .photo-square,
#FRAME4 .blocs-inside-informations-left-page:hover,
#FRAME4 .blocs-inside-informations-right-page:hover,
#FRAME4 .date-line {
	background: #B20000;
}

#FRAME4 .blocs-inside-informations-left-page span, 
#FRAME4 .blocs-inside-informations-right-page span,
#FRAME4 .blocs-inside-informations-page span,
#FRAME4 .letter-l, #FRAME4 .letter-j {
	color: #B20000;
}

#FRAME4 .blocs-inside-informations-left-page:hover span,
#FRAME4 .blocs-inside-informations-right-page:hover span {
	color: white;
}

#FRAME4 .date {
	color: #B20000;
}

.new-frame #FRAME4 .photo,
.new-frame #FRAME4 .blocs {
	border: 1px solid #B20000;	
}


/*
=====================================================================================================
LETTERS
=====================================================================================================
*/
.letter-l {
	left: calc(50% - 15px);
}

.letter-j {
	left: calc(50% + 7px);
}

.title-letters {
	width: 80px;
    overflow: hidden;
    display: inline-block;
}

.social-media {
	position: absolute;	
    font-size: 20px;
    cursor: pointer;
    transition: color 0.2s;
    text-decoration: none;
}

.facebook {
    bottom: 50px;
    right: -22px;
}

.twitter {
    bottom: 78px;
    right: -26px;
}

#CONTENT .social-media:hover {
	color: black;
}

/*
=====================================================================================================
LINES STYLE
=====================================================================================================
*/
.blocs-inside-title-line {
	position: absolute;
	top: 177px;
	left: 300px;
	height: 2px;
	width: 150px;
}

.photo-line {
	position: absolute;
	background: black;
	z-index: 15;
}

.photo-line-vertical {
	width: 1px;
	height: 0%;
	top: 50%;
}

.photo-line-horizontal {
	width: 0%;
	left: 50%;	
	height: 1px;
}

.photo-line-black-left {
	left: 80px;
}

.photo-line-black-right {
	right: 80px;
}

.photo-line-black-up {
	top: 80px;
}

.photo-line-black-down {
	bottom: 80px;
}

/*
=====================================================================================================
DIAPORAMA - LEFT AREA
=====================================================================================================
*/
.photo-wrap {
	position: relative;
	width: 800px;
	height: 50%;
	left: calc(50% - 400px);
	margin-top: 100px;
	z-index: 10;
}

.photo {
	position: absolute;
	height: calc(100% - 162px);
	width: calc(100% - 162px);
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	border: 1px solid #000;
	background: rgba(222, 240, 253, 0.3);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin: auto;
	overflow: hidden;
	transition: border 1s;
}

.background-photo {
    position: relative;
	height: 100%;
    width: 100%;
    background-size: cover;
	opacity: 1;    
    z-index: 3;
    transition: opacity 0.6s;
}

.background-photo.active {
	opacity: 0;
}

.under-background-photo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
	background: #2E2E2E;
}

.photo-square {
	position: absolute;
	height: 0;
	width: 0;
	z-index: 20;
}

.photo-square-black-left {
	top: 0;
	left: 0;
    transition: opacity 1s;
}

.photo-square-black-right {
	top: 0;
	right: 0;
    transition: opacity 1s;
}


.photo-square-black-up {
	bottom: 0;
	left: 0;
    transition: opacity 1s;
}

.photo-square-black-down {
    bottom: 0;
    right: 0;
    transition: opacity 1s;
}

.photo-block {
	position: absolute;
	z-index: 16;
	background: rgba(0, 0, 0, 0.3);
}

.photo-block-vertical {
	width: 0px;
	height: 100%;
}

.photo-block-black-top-left {
	left: 0;
	top: 0;
}

.photo-block-black-top-right {
	right: 0;
	top: 0;
}

.photo-block-horizontal {	
	width: 100%;
	height: 0px;
}

.photo-block-black-bottom-left {
	left: 0;
	top: 0;
}

.photo-block-black-bottom-right {
	left: 0;
	bottom: 0;
}

/*
=====================================================================================================
INFORMATIONS - RIGHT AREA
=====================================================================================================
*/
.area-texte {
	position: relative;
	width: 800px;
	height: calc(50% - 200px);
	left: calc(50% - 400px);
	z-index: 10;
}

.area-texte-title {
	display: block;
	font-size: 32px;
	margin-left: 20%;
}

.area-texte-subtitle {
	display: block;
	font-size: 25px;
	margin-left: 40%;
	margin-top: 20px;
}

.area-texte-wrap {
	position: absolute;
	width: 100%;
	top: 60px;
}

.area-texte-line {
	position: absolute;
	height: 2px;
	width: 15%;
	top: 66px;
	left: 23%;
}

.blocs-inside-informations-title {
	display: block;
	font-size: 32px;
	margin-left: 10px;
	margin-top: 60px;
	margin-bottom: 40px;
}

.blocs-inside-informations-texte {
	display: block;
	text-align: left;
	text-indent: 20px;
	margin: 0 10px 50px 10px;
	font-size: 16px;
	position: relative;
    left: 0%;
    transition: left 1s;
}

.right-hover .blocs-inside-informations-texte:nth-child(3) {
	left: -30%;
}

.right-hover .blocs-inside-informations-texte:nth-child(2) {
	left: -15%;
}

.right-hover .blocs-inside-informations-texte:nth-child(1) {
	left: -5%;
}

.left-hover .blocs-inside-informations-texte:nth-child(3) {
	left: 30%;
}

.left-hover .blocs-inside-informations-texte:nth-child(2) {
	left: 15%;
}

.left-hover .blocs-inside-informations-texte:nth-child(1) {
	left: 5%;
}

.clicked .blocs-inside-informations-texte:nth-child(1),
.clicked .blocs-inside-informations-texte:nth-child(2),
.clicked .blocs-inside-informations-texte:nth-child(3) {
	left: 0%;
}

.right-click .blocs-inside-informations-texte:nth-child(3) {
	left: -130%;
}

.right-click .blocs-inside-informations-texte:nth-child(2) {
	left: -115%;
}

.right-click .blocs-inside-informations-texte:nth-child(1) {
	left: -100%;
}

.left-click .blocs-inside-informations-texte:nth-child(3) {
	left: 130%;
}

.left-click .blocs-inside-informations-texte:nth-child(2) {
	left: 115%;
}

.left-click .blocs-inside-informations-texte:nth-child(1) {
	left: 100%;
}

.blocs-inside-page {
	position: absolute;
	height: 40px;
	width: 40px;
	border: 1px solid black;
	cursor: pointer;
	background: white;
	transition: all 0.5s;
	z-index: 20;
}

.blocs-inside-informations-right-page {
	bottom: 20px;
	right: 19px;
}

.blocs-inside-informations-left-page {
	bottom: 20px;
	left: 19px;
}

.blocs-inside-informations-left-page:hover span {
	color: white;
}

.blocs-inside-informations-left-page span,
.blocs-inside-informations-right-page span {
	display: block;
	width: 100%;
	line-height: 40px;
	text-align: center;
	font-size: 35px;
	color: #91C6FF;
	pointer-events: none;
}

.blocs-inside-informations-page span {
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	text-align: center;
	bottom: 35px;
	font-size: 21px;
}

.blocs-inside-wrap {
	position: absolute;
	top: 28%;
	bottom: 0;
	margin: auto;
	overflow: hidden;
	width: calc(100% - 40px);
}

.date-line {
	position: absolute;
	width: 2px;
	height: calc(50% - 200px);
}

.date-line-up {
	right: -38px;
	top: 120px;
}

.left .date-line-up {
	left: -38px;
	right: initial;
}
	
.date-line-down {
	right: -38px;
	bottom: 45px;
}

.left .date-line-down {
	left: -38px;
	right: initial;
}
	
.blocs-inside-informations-left-page-hover-1 {
	position: absolute;
	bottom: -1px;
	left: -1px;
	width: 1px;
	height: 42px;
	background: black;
	transition: all 0.5s;
	pointer-events: none;
}

.blocs-inside-informations-left-page-hover-2 {
	position: absolute;
	bottom: 40px;
	left: -1px;
	width: 42px;
	height: 1px;
	background: black;
	transition: all 0.5s;
	pointer-events: none;
}

.blocs-inside-informations-left-page:hover .blocs-inside-informations-left-page-hover-1
	{
	bottom: -1px;
	left: -10px;
	height: 50px;
}

.blocs-inside-blue-informations-page:hover .blocs-inside-informations-left-page-hover-2
	{
	bottom: 49px;
	left: -10px;
	width: 51px;
}