@CHARSET "ISO-8859-1";

html,
body,
#CONTENT {
	height: 100%;
}

@font-face {
  font-family: "Orbitron";
  src: url('./fonts/orbitron-black-webfont.eot');
  src: url('./fonts/orbitron-black-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/orbitron-black-webfont.woff2') format('woff2'),
       url('./fonts/orbitron-black-webfont.woff') format('woff'), 
       url('./fonts/orbitron-black-webfont.ttf')  format('truetype'), 
       url('./fonts/orbitron-black-webfont.svg#svgFontName') format('svg');
}

#CONTENT span {
	position: absolute;
    width: 100%;
    font-size: 40px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    text-transform: uppercase;
    font-family: "Orbitron";
    color: white;
    pointer-events: none;
}

.frames {
	position: relative;
	width: 100%;
	height: 25%;
}

.bgswitch {
	width: 100%;
    height: 100%;
	background-size: cover;
    background-position: center;
    opacity: 0;
    transition: all 0.5s;
}

.bgswitch.active {
	opacity: 1;	
}

body {
	margin: 0;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

#HEADER {
	height: 15%;
	width: 100%;
	position: relative;
	background: black;
}

#HEADER span {
	font-size: 80px;
}
	
#SLIDER {
	height: 5%;
	width: 100%;
	position: relative;
	background: #888888;
}

#SLIDER span {
	font-size: 30px;	
}

#FRAME1 {
	position: relative;
	height: 30%;
    background-image: url(./../imgs/FRAME1_LOW.jpg);
    background-size: cover;
    background-position: center;
}

#FRAME2 .projects {
	height: 100%;
	width: 50%;
	float: left; 
}

#FRAME2 .project1 {
	position: relative;
    background-image: url(./../imgs/FRAME2_LOW.jpg);
    background-size: cover;
    background-position: center;
}

#FRAME2 .project2 {
	position: relative;
    background-image: url(./../imgs/FRAME3_LOW.jpg);
    background-size: cover;
    background-position: center;
}

#CONTACT {
    background-image: url(./../imgs/LAST_FRAME_LOW.jpg);
    background-size: cover;
    background-position: center;
}