<div class="ban"><h1>Onarto</h1></div>
<div class="borders">
	<span class="subtitle">Onarto.com - E-commerce of painting</span>
	<span class="descriptions"><strong>O</strong>narto.com is a website for selling painting online in Asia and it's my first big project on Wordpress. On this one, I have worked with a team from differents countries : Thailand, France, USA. This openspace multi-cultural was a very good aspect of this work and it's certainly why I keep it in my favorite project.</span>
	<span class="descriptions v2"><strong>T</strong>his website has quite a long story, so a big part of my work was to integrate new functionnalities. Adding new shortcode and options in backend for controlling the frontend, creating or improving some plugins for specific use. </span>
	<span class="descriptions"><strong>I</strong>n frontend side, the job was globally 70% of css and 30% of javascript. At the beginning of the project, I was playing only with the css for making the website responsive. And also, I have done a lot of fixing because the previous developer broke the struture of <strong>Genesis (wordpress's plugin)</strong> by moving hooks and elements in the wrong place.</span>
	<span class="descriptions v2"><strong>T</strong>he most interesting point for me, it was that the website use a lot of plugins. And amazingly, the website still load fast and there is still place for more optimizations (LQIP). But that's not what I want to talk about. So the good thing about this project is because this one use so many plugins, i have now a good knowledge of : <strong>Gravity Form, Genesis, WooCommerce, W3 Total Cache, Yoast SEO, WP Optimize, Google Analytics...</strong></span>
	<span class="descriptions"><strong>T</strong>his project is certainly less challenging that the one under but with Onarto.com I have learnt to appreciate Wordpress. And also, as I was working far from my home, I have also developed new skills that I did not learn in France.</span>
</div>

<style>
	#SECOND .ban {
		background-image: url(./../imgs/FRAME2.jpg);
	}
</style>