<div class="ban"><h1>Who I am ?</h1></div>
<div class="borders">
	<span class="subtitle">Latsuj.com - Few words</span>
	<span class="descriptions"><strong>H</strong>ello world ! You are actually on my portefolio, my universe. I guess that if you are, it's because you wanna know who I am.</span>
	<span class="descriptions v2"><strong>Who I am ?</strong> A big fan of sports, a traveler and most importantly a passionate developer. A passion that started a long time ago when I was young, a passion that push me to do two master of science in IT and also working abroad in other continent (Asia).</span>
	<span class="descriptions"><strong>A</strong>t the moment where I'm writing this lines, I'm coding for quite a long time now. My favorites languages are <strong>Java, PHP, Python and C++</strong>. But, I have to admit that I fall in love with the <strong>Javascript</strong>. My knowledge are vast, I'm familiar with a lot of framework, librairies and CMS : <strong>JQuery, Angular, Zend, Wordpress, Three.js, Modernizer.js, Phonegap...</strong> And same goes with my work method, I cannot really think about coding without <strong>comments, unit tests and integration tests (Selenium/PHP Unit/Junit/Jasmine), benchmark, SEO...</strong> If you have any doubt, type and "F12" and look the differents files of this website (js,css,html,php...), I have not minimize and remove the commentaries.					</span>
	<span class="descriptions v2"><strong>A</strong>s a developer, I'm really curious and among all the domain possible, the one interesting me the most is <strong>the optimization</strong>. I love looking the last optimization's technique or way of thinking for improving the load speed of a website. And this is why, I have learned by myself <strong>the WebAssembly, the lqip, flush start, Web Font loader, Ajax CSS...</strong> By the way, I use a lot of this techniques here, on this website.</span>
	<span class="descriptions"><strong>F</strong>inally, I'm a sportly. A very big fond of roller skating inline with more than 25 years of experience now and a lot of title holder. Maybe you will see me during a roller marathon ?</span>
	<span class="descriptions v2"><strong>A</strong>nd voila for my story, I guess now that you have a good view of who I am. In the following, I will share some of my personnals projects.  </span>
</div>

<style>
	#SECOND .ban {
		background-image: url(./../imgs/FRAME1.jpg);
	}
</style>