<div class="ban"><h1>TITTRE 1</h1></div>
<div class="borders">
	<span class="subtitle">Introduction - Few words</span>
	<span class="descriptions"><strong>H</strong>ello world ! Tu te trouve actuellement sur mon portefolio dans mon monde, mon univers. J'imagine que si tu te trouve ici, c'est que tu cherche certainement à savoir qui je suis.</span>
	<span class="descriptions v2"><strong>H</strong>ello world ! Tu te trouve actuellement sur mon portefolio dans mon monde, mon univers. J'imagine que si tu te trouve ici, c'est que tu cherche certainement à savoir qui je suis.</span>
	<span class="descriptions"><strong>H</strong>ello world ! Tu te trouve actuellement sur mon portefolio dans mon monde, mon univers. J'imagine que si tu te trouve ici, c'est que tu cherche certainement à savoir qui je suis.</span>
	<span class="descriptions v2"><strong>H</strong>ello world ! Tu te trouve actuellement sur mon portefolio dans mon monde, mon univers. J'imagine que si tu te trouve ici, c'est que tu cherche certainement à savoir qui je suis.</span>
	<span class="descriptions"><strong>H</strong>ello world ! Tu te trouve actuellement sur mon portefolio dans mon monde, mon univers. J'imagine que si tu te trouve ici, c'est que tu cherche certainement à savoir qui je suis.</span>
	<span class="descriptions"><strong>H</strong>ello world ! Tu te trouve actuellement sur mon portefolio dans mon monde, mon univers. J'imagine que si tu te trouve ici, c'est que tu cherche certainement à savoir qui je suis.</span>
	<span class="descriptions"><strong>H</strong>ello world ! Tu te trouve actuellement sur mon portefolio dans mon monde, mon univers. J'imagine que si tu te trouve ici, c'est que tu cherche certainement à savoir qui je suis.</span>
</div>