@CHARSET "ISO-8859-1";

html,
body,
#CONTENT,
#HOME {
	height: 100%;
	background: black;
}

@font-face {
  font-family: "Orbitron";
  src: url('./fonts/orbitron-black-webfont.eot');
  src: url('./fonts/orbitron-black-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/orbitron-black-webfont.woff2') format('woff2'),
       url('./fonts/orbitron-black-webfont.woff') format('woff'), 
       url('./fonts/orbitron-black-webfont.ttf')  format('truetype'), 
       url('./fonts/orbitron-black-webfont.svg#svgFontName') format('svg');
}

#CONTENT span,
#CONTENT h1 {
	position: absolute;
    width: 100%;
    font-size: 50px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    text-transform: uppercase;
    font-family: "Orbitron";
    font-weight: inherit;
    color: white;
    pointer-events: none;
}

.frames {
	position: relative;
	width: 100%;
	height: 25%;
}

.bgswitch {
	width: 100%;
    height: 100%;
	background-size: cover;
    background-position: center;
    opacity: 0;
    transition: all 0.5s;
}

.bgswitch.active {
	opacity: 1;	
}

body {
	margin: 0;
	overflow: hidden;
	scroll-behavior: smooth;
	background: black;
}

#HEADER {
	height: 15%;
	width: 100%;
	position: relative;
	background: black;
}

#HEADER span {
	font-size: 80px;
}
	
#SLIDER {
	height: 5%;
	width: 100%;
	position: relative;
	background: #888888;
}

#SLIDER span {
	font-size: 30px;	
}

#FRAME1 {
	position: relative;
	height: 30%;
    background-image: url(./../imgs/FRAME1_LOW.jpg);
    background-size: cover;
    background-position: center;
}

#FRAME2 .projects {
	height: 100%;
	width: 50%;
	float: left; 
}

#FRAME2 .project1 {
	position: relative;
    background-image: url(./../imgs/FRAME2_LOW.jpg);
    background-size: cover;
    background-position: center;
}

#FRAME2 .project2 {
	position: relative;
    background-image: url(./../imgs/FRAME3_LOW.jpg);
    background-size: cover;
    background-position: center;
}

#CONTACT {
    background-image: url(./../imgs/LAST_FRAME_LOW.jpg);
    background-size: cover;
    background-position: center;
}


@font-face {
  font-family: "Montserrat Light";
  src: url('./fonts/montserrat-light-webfont.eot');
  src: url('./fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/montserrat-light-webfont.woff2') format('woff2'),
       url('./fonts/montserrat-light-webfont.woff') format('woff'), 
       url('./fonts/montserrat-light-webfont.ttf')  format('truetype'), 
       url('./fonts/montserrat-light-webfont.svg#svgFontName') format('svg');
}

#SECOND {
	position: absolute;
    top: 100%;
    height: 120%;
    width: 100%;
    background: white;
    transition: all 0.5s;
    overflow-x: hidden;
}

#SECOND.active {
	top: 0%;
}

#SECOND .close {
	position: absolute;
    right: 10px;
    top: 10px;
    font-size: 100px;
    font-weight: bold;
    transform: rotateZ(45deg) translateY(44px);
    width: 50px;
    font-family: "Orbitron";
    height: 50px;
    text-align: center;
    line-height: 50px;
    z-index: 100;
    color: white;
}

#INFORMATIONS {
	height: 100%;
}

#SECOND .ban {
	position: relative;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 20%;
}

#SECOND .subtitle,
#SECOND .descriptions {
    position: static;
    text-align: justify;
    transform: inherit;
    text-transform: inherit;
    top: initial;
    display: block;
    padding: 40px;
    font-family: "Montserrat Light";
    font-size: 4.2vw;
    width: initial;
	line-height: 1.4;
	color: #262626;
} 

#SECOND h1 {
	font-size: 6vw;
}

#SECOND .subtitle {
	font-weight: bold;
    padding-top: 60px;
    font-size: 4.6vw;
}

#SECOND .descriptions strong {
	color: block;
}

#SECOND .descriptions.v2 {
	background: #3a3a3a;
	color: white;
}
